/* Background/General Setup */
* {
    background-color: #dad2ba;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Title */
.title{
    position: absolute;
    top: 5%;
    left: 4%;
    color: #445942;
    font-size: 300%;
    font-weight: 600;
}
.title p1 a{
    text-decoration: none;
    color: #445942;
}
.title p1 a:hover{
    color: #b32230;
    transition: 0.5s;
}

/* Timer */
#timer{
    display: flex;
    position: absolute;
    color: #445942;
    font-size: 750%;
    font-weight: 800;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Controls */
.controls{
    display: flex;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a1b88d;
    cursor: pointer;
}
.fa-solid:hover{
    color: #445942;
    transition: 0.5s;
}
#pause{
    font-size: 400%;
    color: #445942;
}
#pause:hover{
    color: #a1b88d;
}
#play{
    font-size: 400%;
}
#restart{
    position: absolute;
    left: -110%;
    top: 20%;
    font-size: 225%;
}
#next{
    position: absolute;
    left: 150%;
    top: 20%;
    font-size: 225%;
}

/* Settings */
.settings{
    display: flex;
    color: #a1b88d;
    cursor: pointer;
}
#cog{
    position: absolute;
    top: 5%;
    right: 4%;
    font-size: 225%;
}
#cogPressed{
    position: absolute;
    top: 5%;
    right: 4%;
    font-size: 225%;
    color: #445942;
}
#cogPressed:hover{
    color: #a1b88d;
}
#settingsForm{
    position: absolute;
    display: inline-flex;
    top: 10%;
    right: 4%;
}
#focusText{
    text-align: left;
    color: #445942;
    font-size: 150%;
    font-weight: 600;
}
#focus{
    align-self: right;
    color: #445942;
    position: relative;
    left: 4.25%;
    width: 30%;
    height: 30%;
    border-color: #445942;
    border-width: 3px;
    border-radius: 8px;
}
#restText{
    text-align: left;
    color: #445942;
    font-size: 150%;
    font-weight: 600;
}
#rest{
    align-self: right;
    color: #445942;
    position: relative;
    left: 12%;
    width: 30%;
    height: 30%;
    border-color: #445942;
    border-width: 3px;
    border-radius: 8px;
}
#applyBtn{
    align-self: right;
    position: relative;
    left: -40%;
    top: 75%;
    width: 40%;
    height: 40%;
    background-color: #445942;
    border: none;
    color: #dad2ba;
    text-align: center;
    margin: auto;
    padding: auto;
    cursor: pointer;
    border-radius: 16px;
}
#applyBtn:hover{
    background-color: #a1b88d;
    color: #445942;
    transition: 0.5s;
}

/* Footer */
.footer p{
    text-decoration: none;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.footer p a{
    text-decoration: none;
    color: #445942;
}
.footer p a:hover{
    color: #b32230;
    transition: 0.5s;
}